*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body{
    background-color: rgb(175, 200, 255);
}

input{
    margin: 5% 0;
}

.ipt{
    padding: 1% 2%;
    background-color: #FFF5;
    color: #037;
    border: 2px solid #07F;
    border-radius: 5px;
    transition: 500ms;
}
.ipt::placeholder{
    color: #000A;
}
.ipt:focus{
    background-color: #FAF5;
    color: #505;
    border-color: blueviolet;
}

a{
    margin-top: 3vh;
    display: block;
    color: navy;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    text-align: center;
}
a:hover{
    text-decoration: underline;
}

span{
    display: block;
    text-align: center;
}

.btn{
    padding: 1.5% 2%;
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}
.btn:hover{
    background-color: #72B;
}
h1{
    margin-top: 5vh;
    text-align: center;
}